.project_thumbnail_container {
  /*border: 1px solid black;*/
}

.project_thumbnail {
  padding: 10px;
  border: 1px solid black;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
