.project_thumbnail {
  display: block;
}

.project_thumbnail:hover {
  text-decoration: none;
}

.project_details {
  font-style: italic;
  font-size: 0.9em;
}

.tar {
  text-align: right;
}

.project_description {
  margin-top: 15px;
}
